
@import url('styles/normalize.css');

body {
    background-color: lightgrey;
    color: #000;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    
}

nav {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    }    

    /* Hamburger Menu */
.hamburger {
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
    
    /* Mobile View */
@media only screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        ul {
            display: none;
        }
        .hamburger {
            display: flex;
        }
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

.hero {
    background-image: url('chamber/images/chamber.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main {
    padding: 20px;
}

footer {
    
}

@media only screen and (max-width: 768px) {
    main {
        padding: 10px;
    }
}
