
body {
    background-color: lightgray;
    color: #333333; 
}
@media (max-width: 600px) {
    body {
        background-color: lightgray;
    }
}

/* Dark Mode */
body.dark-mode {
    background-color: #1a1a1a; 
    color: #ffffff; 
}
